<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Attire home</title>
  <!-- custom scc -->
  <link rel="stylesheet" href="css/main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    {{> styleone}}
    

</head>

<body>

  <!-- navbar -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light py-1 fixed-top">
    <div class="container">
      <a class="navbar-brand d-flex justify-content-between align-items-center order-lg-0" href="index.html">
        <img src="https://th.bing.com/th?q=Plastic+Shopping+Bag+Icon&w=120&h=120&c=1&rs=1&qlt=90&cb=1&pid=InlineBlock&mkt=en-IN&cc=IN&setlang=en&adlt=moderate&t=1&mw=247" id="sicon" alt="site icon">
        <span class="text-uppercase fw-lighter ms-2">Attire</span>
      </a>

      <div class="order-lg-2 nav-btns">
        <button type="button" class="btn position-relative">
          <i class="fa fa-shopping-cart"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge bg-danger">5</span>
        </button>
        <button type="button" class="btn position-relative">
          <i class="fa fa-heart"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge bg-danger">3</span>
        </button>
        <button type="button" class="btn position-relative">
          <i class="fa fa-search"></i>
        </button>
      </div>


      <button class="navbar-toggler border border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
        <span class="navbar-toggler-icon "></span>

      </button>
      <div class="collapse navbar-collapse order-lg-1  " id="navMenu">
        <ul class="navbar-nav " >
          <li class="nav-item mx-auto text-center px-2 py-2 text-uppercase">
            <a href="#header" class="nav-link">Home</a>
          </li>
          <li class="nav-item mx-auto text-center px-2 py-2 text-uppercase">
            <a href="#collection" class="nav-link">collection</a>
          </li>
          <li class="nav-item mx-auto text-center px-2 py-2 text-uppercase">
            <a href="#specials" class="nav-link">specials</a>
          </li>
          <li class="nav-item mx-auto text-center px-2 py-2 text-uppercase">
            <a href="#about" class="nav-link">about us</a>
          </li>
          <li class="nav-item mx-auto text-center px-2 py-2 text-uppercase border-0">
            <a href="#popular" class="nav-link"> popular</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- end of the navbar  -->

  <!-- header  -->
  <header id="header" class="vh-100 carousel slide" data-bs-ride="carousel" style="padding-top:104px;">

    <div class="container h-100 d-flex align-items-center  carousel-inner">


      <div class="text-center carousel-item active">
        <h2 class="text-capitalize text-light"> best collection</h2>
        <h1 class="text-uppercase py-2 fw-bold text-white">new arrivals</h1>
        <a href="#" class="btn mt-3 text-uppercase">shop now</a>
      </div>


      <div class="text-center carousel-item">
        <h2 class="text-capitalize text-light"> new price & offer </h2>
        <h1 class="text-uppercase py-2 fw-bold text-white">new season</h1>
        <a href="#" class="btn mt-3 text-uppercase">buy now</a>
      </div>

    </div>


    <button class="carousel-control-prev" type="button" data-bs-target="#header" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>

  </header>


  <!-- collection  -->

  <section class="py-5 gallery" id="collection">
    <div class="container">
      <div class="title text-center">
        <h2 class="position-relative d-inline-block">New Collection</h2>
      </div>


      <div class="row g-0">
        <div class="gallery-filter d-flex flex-wrap justify-content-center mt-5">
          <button type="button" class="btn text-dark m-2 filter-item active" data-filter="all">All</button>
          <button type="button" class=" filter-item btn text-dark m-2" data-filter="best">Best Sellers</button>
          <button type="button" class=" filter-item btn text-dark m-2" data-filter="beat">Featured</button>
          <button type="button" class=" filter-item btn text-dark m-2" data-filter="new">New Arrival</button>
        </div>


        <div class="collection-list mt-4 row gx-0 gy-3">

          <div class="col-md-6 col-lg-4 col-xl-3 p-2 gallery-item new">
            <div class="collection-img position-relative">
              <img
                src="https://lp2.hm.com/hmgoepprod?set=source[/c2/4d/c24d22d4f2e67cbe516864293c8abecc23d828bd.jpg],origin[dam],category[men_jacketscoats_shirtjackets],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]"
                class="w-100">
              <span
                class="position-absolute bg-danger text-white d-flex align-items-center justify-content-center">sale</span>
            </div>

            <div class="text-center">
              <div class="rating mt-3">
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
              </div>
              <p class="text-capitalize my-1">regular fit overshirt</p>
              <span class="fw-bold">$45.50</span>
            </div>
          </div>



          <div class="col-md-6 col-lg-4 col-xl-3 p-2 gallery-item beat">
            <div class="collection-img position-relative">
              <img
                src="https://lp2.hm.com/hmgoepprod?set=source[/92/e3/92e3ba46c126726d52c9cd5ad279051455626367.jpg],origin[dam],category[men_trousers_casual],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]"
                class="w-100">
              <span
                class="position-absolute bg-danger text-white d-flex align-items-center justify-content-center">sale</span>
            </div>

            <div class="text-center">
              <div class="rating mt-3">
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
              </div>
              <p class="text-capitalize my-1">2-pack long fit t-shirt</p>
              <span class="fw-bold">$35.50</span>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 col-xl-3 p-2 gallery-item best">
            <div class="collection-img position-relative">
              <img
                src="https://lp2.hm.com/hmgoepprod?set=source[/c3/5a/c35abb22025a4b35b8523ca8bca8dd3d4c225a59.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]"
                class="w-100">
              <span
                class="position-absolute bg-danger text-white d-flex align-items-center justify-content-center">sale</span>
            </div>

            <div class="text-center">
              <div class="rating mt-3">
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
              </div>
              <p class="text-capitalize my-1">regular fit cotton t-shirt</p>
              <span class="fw-bold">$45.50</span>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 gallery-item new">
            <div class="collection-img position-relative">
              <img
                src="https://lp2.hm.com/hmgoepprod?set=source[/aa/fa/aafa1d778e4225bcf6a3344180beb2a1764009a8.jpg],origin[dam],category[men_tshirtstanks_shortsleeve],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]"
                class="w-100">
              <span
                class="position-absolute bg-danger text-white d-flex align-items-center justify-content-center">sale</span>
            </div>

            <div class="text-center">
              <div class="rating mt-3">
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
              </div>
              <p class="text-capitalize my-1">2-pack regular t-shirt</p>
              <span class="fw-bold">$48.50</span>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 gallery-item best">
            <div class="collection-img position-relative">
              <img
                src="https://lp2.hm.com/hmgoepprod?set=source[/fc/b5/fcb5a26c496f33b30926e6a13fd08878c53bff0f.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]"
                class="w-100">
              <span
                class="position-absolute bg-danger text-white d-flex align-items-center justify-content-center">sale</span>
            </div>

            <div class="text-center">
              <div class="rating mt-3">
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
              </div>
              <p class="text-capitalize my-1">regular fit cotton t-shirt</p>
              <span class="fw-bold">$35.50</span>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 gallery-item new">
            <div class="collection-img position-relative">
              <img
                src="https://lp2.hm.com/hmgoepprod?set=source[/5f/05/5f055387812edcd3b19bcc8d4a75f98424bad22b.jpg],origin[dam],category[men_tshirtstanks_shortsleeve],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]"
                class="w-100">
              <span
                class="position-absolute bg-danger text-white d-flex align-items-center justify-content-center">sale</span>
            </div>

            <div class="text-center">
              <div class="rating mt-3">
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
              </div>
              <p class="text-capitalize my-1">gray shirt</p>
              <span class="fw-bold">$45.50</span>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 gallery-item new">
            <div class="collection-img position-relative">
              <img
                src="https://lp2.hm.com/hmgoepprod?set=source[/d1/c8/d1c8b04c2513219bb73643050672ba4e4e10bcea.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]"
                class="w-100">
              <span
                class="position-absolute bg-danger text-white d-flex align-items-center justify-content-center">sale</span>
            </div>

            <div class="text-center">
              <div class="rating mt-3">
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
              </div>
              <p class="text-capitalize my-1">relaxed fit hoodie</p>
              <span class="fw-bold">$55.50</span>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-3 p-2 gallery-item beat">
            <div class="collection-img position-relative">
              <img
                src="https://lp2.hm.com/hmgoepprod?set=source[/62/ae/62ae13df726656b92afa7815854e1b1741f5122e.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]"
                class="w-100">
              <span
                class="position-absolute bg-danger text-white d-flex align-items-center justify-content-center">sale</span>
            </div>

            <div class="text-center">
              <div class="rating mt-3">
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
                <span class="text-danger"><i class="fa fa-star"></i></span>
              </div>
              <p class="text-capitalize my-1">relaxed fit hoodie</p>
              <span class="fw-bold">$67.50</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- end of collection  -->





  <!-- specials products  -->
  <section id="specials" class="py-5">
    <div class="container">
      <div class="title text-center py-5">
        <h2 class="position-relative d-inline-block"> Specials Section</h2>
      </div>

      <div class="special-list row g-0">
        <div class="col-md-6 col-lg-4 col-xl-3 p-2 ">
          <div class="special-img position-relative overflow-hidden">
            <img
              src="https://lp2.hm.com/hmgoepprod?set=source[/aa/fa/aafa1d778e4225bcf6a3344180beb2a1764009a8.jpg],origin[dam],category[men_tshirtstanks_shortsleeve],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]"
              class="w-100">
            <span class="position-absolute d-flex align-items-center justify-content-center text-danger fs-4">
              <i class="fa fa-heart"></i>
            </span>
          </div>
          <div class="text-center">
            <p class="text-capitalize mt-3 mb-1">gray shirt</p>
            <span class="fw-bold d-block">$23.12</span>
            <a href="#" class="btn btn-outline-danger mt-3">Add to Cart</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
          <div class="special-img position-relative overflow-hidden">
            <img
              src="https://rukminim1.flixcart.com/image/612/612/kz4gh3k0/shirt/w/0/u/m-hoodied-shirt-magenta-nakash-original-imagb7pwvbdu4dfz.jpeg?q=70"
              class="w-100">
            <span class="position-absolute d-flex align-items-center justify-content-center text-danger fs-4">
              <i class="fa fa-heart"></i>
            </span>
          </div>
          <div class="text-center">
            <p class="text-capitalize mt-3 mb-1">gray shirt</p>
            <span class="fw-bold d-block">$23.12</span>
            <a href="#" class="btn btn-outline-danger mt-3">Add to Cart</a>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
          <div class="special-img position-relative overflow-hidden">
            <img
              src="https://rukminim1.flixcart.com/image/612/612/xif0q/shirt/h/1/s/s-hoodied-shirt-grey-nakash-original-imagb7pwsjv5gxe7-bb.jpeg?q=70"
              class="w-100">
            <span class="position-absolute d-flex align-items-center justify-content-center text-danger fs-4">
              <i class="fa fa-heart"></i>
            </span>
          </div>
          <div class="text-center">
            <p class="text-capitalize mt-3 mb-1">gray shirt</p>
            <span class="fw-bold d-block">$23.12</span>
            <a href="#" class="btn btn-outline-danger mt-3">Add to Cart</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
          <div class="special-img position-relative overflow-hidden">
            <img
              src="https://rukminim1.flixcart.com/image/612/612/xif0q/shirt/w/0/u/m-hoodied-shirt-magenta-nakash-original-imagb7pwvbdu4dfz-bb.jpeg?q=70"
              class="w-100">
            <span class="position-absolute d-flex align-items-center justify-content-center text-danger fs-4">
              <i class="fa fa-heart"></i>
            </span>
          </div>
          <div class="text-center">
            <p class="text-capitalize mt-3 mb-1">gray shirt</p>
            <span class="fw-bold d-block">$23.12</span>
            <a href="#" class="btn btn-outline-danger mt-3">Add to Cart</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
          <div class="special-img position-relative overflow-hidden">
            <img
              src="https://rukminim1.flixcart.com/image/612/612/xif0q/suit/5/w/1/36-suit-maroon-darbar-in-original-imag5fjyvg3zzaa8-bb.jpeg?q=70"
              class="w-100">
            <span class="position-absolute d-flex align-items-center justify-content-center text-danger fs-4">
              <i class="fa fa-heart"></i>
            </span>
          </div>
          <div class="text-center">
            <p class="text-capitalize mt-3 mb-1">gray shirt</p>
            <span class="fw-bold d-block">$23.12</span>
            <a href="#" class="btn btn-outline-danger mt-3">Add to Cart</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
          <div class="special-img position-relative overflow-hidden">
            <img
              src="https://lp2.hm.com/hmgoepprod?set=source[/fc/b5/fcb5a26c496f33b30926e6a13fd08878c53bff0f.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]"
              class="w-100">
            <span class="position-absolute d-flex align-items-center justify-content-center text-danger fs-4">
              <i class="fa fa-heart"></i>
            </span>
          </div>
          <div class="text-center">
            <p class="text-capitalize mt-3 mb-1">gray shirt</p>
            <span class="fw-bold d-block">$23.12</span>
            <a href="#" class="btn btn-outline-danger mt-3">Add to Cart</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
          <div class="special-img position-relative overflow-hidden">
            <img
              src="https://lp2.hm.com/hmgoepprod?set=source[/d1/c8/d1c8b04c2513219bb73643050672ba4e4e10bcea.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],res[y],hmver[2]&call=url[file:/product/main]"
              class="w-100">
            <span class="position-absolute d-flex align-items-center justify-content-center text-danger fs-4">
              <i class="fa fa-heart"></i>
            </span>
          </div>
          <div class="text-center">
            <p class="text-capitalize mt-3 mb-1">gray shirt</p>
            <span class="fw-bold d-block">$23.12</span>
            <a href="#" class="btn btn-outline-danger mt-3">Add to Cart</a>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3 p-2">
          <div class="special-img position-relative overflow-hidden">
            <img
              src="https://rukminim1.flixcart.com/image/612/612/kxdl3m80/shirt/a/7/a/l-ts-shirt1083-tanip-original-imag9ugfzkdhprzn.jpeg?q=70"
              class="w-100">
            <span class="position-absolute d-flex align-items-center justify-content-center text-danger fs-4">
              <i class="fa fa-heart"></i>
            </span>
          </div>
          <div class="text-center">
            <p class="text-capitalize mt-3 mb-1">gray shirt</p>
            <span class="fw-bold d-block">$23.12</span>
            <a href="#" class="btn btn-outline-danger mt-3">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--  end of specials products  -->


  <!-- blogs  -->

  <section id="offers" class="py-4">
    <div class="container">
      <div
        class="row d-flex align-items-center text-center justify-content-lg-start text-lg-start justify-content-center">
        <div class="offers-content">
          <span class="text-light">
            Disocunt Up To 40%
          </span>
          <h2 class="mt-2 mb-4 text-white"> Grand Sell Offers</h2>
          <a href="#" class="btn ">Buy Now</a>
        </div>
      </div>
    </div>
  </section>
  <!-- end of blogs  -->


  <!-- blogs  -->
  <section id="blogs" class="py-5">
    <div class="container">
      <div class="title text-center py-5">
        <h2 class="position-relative d-inline-block">Our Latest Blog</h2>
      </div>

      <div class="row g-3">
        <div class="card border-0 col-md-6 col-lg-4 bg-transparent my-3">
          <img src="https://images.pexels.com/photos/6177591/pexels-photo-6177591.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="">
          <div class="card-body">
            <h4 class="card-title">Lorem ipsum dolor sectetur adipisicing elit. Autemrporis, odit fuga ab natus ips
              fugiat.</h4>
            <p class="card-text mt-3 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
              error quibusdam debitis a delectus, dignissimos ducimus exercitationem, quisquam dolorum architecto
              placeat suscipit non doloremque vel pariatur quaerat deserunt voluptatum sit.</p>
            <p class="card-text text-muted">
              <small class="">
                <span class="fw-bold">Author:</span> john dos
              </small>
            </p>
            <a href="#" c class="btn btn-outline-danger"> Read More</a>
          </div>
        </div>


        <div class="card border-0 col-md-6 col-lg-4 bg-transparent my-3">
          <img src="https://images.pexels.com/photos/6214134/pexels-photo-6214134.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="">
          <div class="card-body">
            <h4 class="card-title">Lorem ipsum dolor sectetur adipisicing elit. Autemrporis, odit fuga ab natus ips
              fugiat.</h4>
            <p class="card-text mt-3 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
              error quibusdam debitis a delectus, dignissimos ducimus exercitationem, quisquam dolorum architecto
              placeat suscipit non doloremque vel pariatur quaerat deserunt voluptatum sit.</p>
            <p class="card-text text-muted">
              <small class="">
                <span class="fw-bold">Author:</span> john dos
              </small>
            </p>
            <a href="#" c class="btn btn-outline-danger"> Read More</a>
          </div>
        </div>

        <div class="card border-0 col-md-6 col-lg-4 bg-transparent my-3">
          <img src="https://images.pexels.com/photos/8636597/pexels-photo-8636597.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="">
          <div class="card-body">
            <h4 class="card-title">Lorem ipsum dolor sectetur adipisicing elit. Autemrporis, odit fuga ab natus ips
              fugiat.</h4>
            <p class="card-text mt-3 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
              error quibusdam debitis a delectus, dignissimos ducimus exercitationem, quisquam dolorum architecto
              placeat suscipit non doloremque vel pariatur quaerat deserunt voluptatum sit.</p>
            <p class="card-text text-muted">
              <small class="">
                <span class="fw-bold">Author:</span> john dos
              </small>
            </p>
            <a href="#" c class="btn btn-outline-danger"> Read More</a>
          </div>
        </div>

      </div>
    </div>

  </section>

  <!-- end of blogs -->


  <!-- about us  -->

  <section id="about" class="py-5">
    <div class="container">
      <div class="row gy-lg-5 align-items-center">

        <div class="col-lg-6  order-lg-1 text-center text-lg-start">
          <div class="title pt-3 pb-4">
            <h2 class="position-relative d-inline-block ms-4">About Us</h2>
          </div>
          <p class="mt-2 lead text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis cupiditate
            aut, asperiores accusantium cupiditate aut, asperioresp </p>

          <p> accusantium repellat, dolo doloribur adipisicing elit. Facidoloribuslat, doloribus nulla tempora maxime
            nam nisi nesciunt beatae dolor sit, amet consectetur adipisicing elit. Facilis cupiditate aut, asperiores
            accusantium repellat, doloribus nulla tempora maxime dolor sit, amet consectetur adipisicing elit. Facilis
            cupiditate aut, asperiores accusantium repellat, doloribus nulla tempora maxime nam nisi nesciunt beatae
            dolor sit, . Facilis
            cupiditate aut, asperiores accusantium repellat, doloribus nulla tempora maxime nam nisi nesciunt beatae
            dolor sit, amet coaccusantium repellat, doloribus nulla tempora maxime nam nisi nesciuntantium repellat,
            doloribus nulla tempora maxime nam nisi nesciunt beatae possimus quaerat harum sapiente eaque voluptatem ad
            repudiandae.</p>
        </div>

        <div class="col-lg-6  order-lg-0">
          <img src="https://tse2.mm.bing.net/th?id=OIP.XuVH1m0DXa4Cs_pAagKaQgHaF2&pid=Api&P=0" width="100%">
        </div>

      </div>
    </div>
  </section>
  <!-- end of about us  -->


  <!-- popular  -->
  <section id="popular" class="py-4">
    <div class="container">
      <div class="title text-center pt-3 pb-4">
        <h2 class="position-relative d-inline-block ms-4">Popular of This Year</h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 row g-3">
          <h3 class="fs-5">Top Rated</h3>
          <div class="d-flex align-items-start justify-content-start">
            <img
              src="https://rukminim1.flixcart.com/image/200/200/kw104nk0/vehicle-light-bulb/z/x/m/12-h7-geniune-9000lm-6500k-72-w-led-automotive-headlight-bulbs-original-imag8sqneb7etpg6.jpeg?q=70"
              alt="" class="img-fluid  pe-5 w-50">
            <div class="mt-5">
              <p class="mb-0">Blue Shirt</p>
              <span>$20.22</span>
            </div>
          </div>

          <div class="d-flex align-items-start justify-content-start">
            <img
              src="https://rukminim1.flixcart.com/image/200/200/ksez24w0/hand-messenger-bag/w/z/z/amy-plus-md-satchel-ladies-handbag-hgge016022m3-satchel-lavie-original-imag5zj5aqrwgcdz.jpeg?q=70"
              alt="" class="img-fluid pe-5 w-50">
            <div class="mt-5">
              <p class="mb-0">Blue Shirt</p>
              <span>$20.22</span>
            </div>
          </div>

          <div class="d-flex align-items-start justify-content-start">
            <img
              src="https://rukminim1.flixcart.com/image/200/200/jxxkvww0/bath-linen-set/h/y/h/p4-bathsports-gretea-heelium-original-imafg3zc8kfqzpza.jpeg?q=70"
              alt="" class="img-fluid pe-5 w-50">
            <div class="mt-5">
              <p class="mb-0">Blue Shirt</p>
              <span>$20.22</span>
            </div>
          </div>
        </div>




        <div class="col-md-6 col-lg-4 row g-3">
          <h3 class="fs-5">Best Selling</h3>
          <div class="d-flex align-items-start justify-content-start">
            <img
              src="https://rukminim1.flixcart.com/image/200/200/j5bceq80/diya/s/t/g/etl2042-etrendz-original-imaecayyx9nedubp.jpeg?q=70"
              alt="" class="img-fluid pe-5 w-50">
            <div class="mt-5">
              <p class="mb-0">Blue Shirt</p>
              <span>$20.22</span>
            </div>
          </div>

          <div class="d-flex align-items-start justify-content-start">
            <img
              src="https://rukminim1.flixcart.com/image/200/200/kzogn0w0/cap/e/l/d/free-unisex-led-watch-01-stylish-black-wayfarer-sunglass-01-original-imagbn5f3euweahg.jpeg?q=70"
              alt="" class="img-fluid pe-5 w-50">
            <div class="mt-5">
              <p class="mb-0">Blue Shirt</p>
              <span>$20.22</span>
            </div>
          </div>

          <div class="d-flex align-items-start justify-content-start">
            <img
              src="https://rukminim1.flixcart.com/image/200/200/xif0q/electric-kettle/w/g/r/-original-imaggkhdr4thnypr.jpeg?q=70"
              alt="" class="img-fluid pe-5 w-50">
            <div class="mt-5">
              <p class="mb-0">Blue Shirt</p>
              <span>$20.22</span>
            </div>
          </div>
        </div>




        <div class="col-md-6 col-lg-4 row g-3">
          <h3 class="fs-5">On Sale</h3>
          <div class="d-flex align-items-start justify-content-start">
            <img
              src="https://rukminim1.flixcart.com/image/200/200/xif0q/vehicle-washing-cloth/x/s/9/8-cl11779-autosite-original-imaggzzjggnxjz6z.jpeg?q=70"
              alt="" class="img-fluid pe-5 w-50">
            <div class="mt-5">
              <p class="mb-0">Blue Shirt</p>
              <span>$20.22</span>
            </div>
          </div>

          <div class="d-flex align-items-start justify-content-start">
            <img
              src="https://rukminim1.flixcart.com/image/200/200/k0e66q80/plant-sapling/c/e/7/air-purifying-pothos-money-plant-with-imported-pot-1-water-original-imafk747aczgq6ze.jpeg?q=70"
              alt="" class="img-fluid pe-5 w-50">
            <div class="mt-5">
              <p class="mb-0">Blue Shirt</p>
              <span>$20.22</span>
            </div>
          </div>

          <div class="d-flex align-items-start justify-content-start">
            <img
              src="https://rukminim1.flixcart.com/image/200/200/xif0q/garden-sprayer/z/y/s/18-bs-20-battery-knapsack-sprayer-pump-12vx8a-18-l-backpack-original-imagnq9gynprqyvp.jpeg?q=70"
              class="img-fluid pe-5 w-50">
            <div class="mt-5">
              <p class="mb-0">Blue Shirt</p>
              <span>$20.22</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <!-- end of  popular  -->



  <!-- newsletter -->
  <section id="newsletter" class="py-5">
    <div class="container">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="title text-center pt-3 pb-5">
          <h2 class="position-relative d-inline-block ms-4">Newsletter Subscription</h2>
        </div>
        <p class="text-center text-muted">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo esse voluptatum laudantium officia at facere.
        </p>
        <div class="input-group mb-3 mt-3">
          <input type="text" class="form-control" placeholder="Enter Your Email...">
          <button class="btn btn-primary" type="submit">Subscrible</button>
        </div>

      </div>
    </div>
  </section>

  <!-- end of newsletter -->


  <!-- footer  -->

  <footer class="bg-dark py-5">
    <div class="container">
      <div class="row text-white g-4">
        <div class="col-md-6 col-lg-3 col-sm-6">
          <a href="#" class="text-uppercase text-decoration-none brand text-white">attire</a>
          <p class="text-white text-muted mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
            aperiam quo eveniet ipsam asperiores cupiditate voluptatibus repellat obcaecati quae! Ut commodi veritatis
            provident dolores, ducimus laboriosam! Aut ad perferendis nulla.</p>
        </div>


        <div class="col-md-6 col-lg-3 col-sm-6">
          <h5 class="fw-light">Links</h5>
          <ul class="list-unstyled">
            <li class="my-3">
              <a href="#" class="text-white text-muted text-decoration-none">
                <i class="fa fa-chevron-right me-1"> Home</i>
              </a>
            </li>
            <li class="my-3">
              <a href="#" class="text-white text-muted text-decoration-none">
                <i class="fa fa-chevron-right me-1"> Collection</i>
              </a>
            </li>
            <li class="my-3">
              <a href="#" class="text-white text-muted text-decoration-none">
                <i class="fa fa-chevron-right me-1"> Blogs</i>
              </a>
            </li>
            <li class="my-3">
              <a href="#" class="text-white text-muted text-decoration-none">
                <i class="fa fa-chevron-right me-1">About Us</i>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-6 col-lg-3 col-sm-6">
          <h5 class="fw-light mb-3"> Contact Us</h5>
          <div class="d-flex justify-content-start align-items-start my-2 text-muted">
            <span class="me-3">
              <i class="fa fa-home text-light"></i>
            </span>
            <span class="fw-light text-capitalize">
              albert street new york as 756 united states of america
            </span>
          </div>
          <div class="d-flex justify-content-start align-items-start my-2 text-muted">
            <span class="me-3">
              <i class="fa fa-envelope text-light"></i>
            </span>
            <span class="fw-light text-capitalize">
              albert street new york as 756 united states of america
            </span>
          </div>
          <div class="d-flex justify-content-start align-items-start my-2 text-muted">
            <span class="me-3">
              <i class="fa fa-phone text-light"></i>
            </span>
            <span class="fw-light text-capitalize">
              + 9782 6767 3453
            </span>
          </div>
        </div>


        <div class="col-md-6 col-lg-3 col-sm-6">
          <h5 class="fw-light mb-3"> Follow Us</h5>
          <div class="d-flex">
            <ul class="list-unstyled d-flex">
              <li>
                <a href="#">
                  <i class="fa fa-facebook-f fs-3 mx-2 text-muted"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-instagram fs-3 mx-3 text-muted"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter fs-3 mx-3 text-muted"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-whatsapp fs-3 mx-3 text-muted"></i>
                </a>
              </li>
            </ul>
            <!-- footer  -->

          </div>
        </div>

      </div>
    </div>
  </footer>


  <!-- end of  footer  -->













  <!-- java file  -->

  <script>

    {{> scriptone}}
  </script>


  <!-- isotope js  -->

  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>

  <!-- bootstrap js  -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>